/* You can add global styles to this file, and also import other style files */



.footer{
    background: rgb(104, 93, 93);

}
.col-lg-5 p{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size:large
} 

.nav-link {
    font-family: cursive;
}