<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../assets/courone.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-sm-block text-center mb-5">
        <h1>Idées cadeaux beauté </h1>
        <p> Notre meilleure sélection pour elle</p>
        
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/pexels-photo-4992701.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-sm-block text-center mb-5">
        <h1>Bon pour la planète <br>
          Aux couleurs de Mère Nature</h1>
        <p class="lead"> Notre sélection plus éco-responsable</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/make-up.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-sm-block text-center">
        <h1> Petits plaisirs beauté<br> Mon Valentin à moi</h1>
        <p class="lead"> Perfectionnez votre look pour la Saint-Valentin avec des produits de beauté qui chavirent les
          cœurs</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!----- Categories -------->

<h1 class="text-center ">♛ Catégories ♛ </h1>
<div class="container marketing mt-4 ">

  <div class="row ">
    <!-- Categorie 1 -->
    <div class="col-lg-3 ">
      <div class="text-center">
        <img
          src="https://images.pexels.com/photos/7919753/pexels-photo-7919753.jpeg?cs=srgb&dl=pexels-eyup-beyhan-7919753.jpg&fm=jpg"
          class="rounded-circle" width="250" height="250" alt="...">
        <h2>Vêtements</h2>
      </div>
    </div>

    <!-- Categorie 2 -->
    <div class="col-lg-3 ">
      <div class="text-center">
        <img
          src="https://images.pexels.com/photos/3641059/pexels-photo-3641059.jpeg?cs=srgb&dl=pexels-castorly-stock-3641059.jpg&fm=jpg"
          class="rounded-circle" width="250" height="250" alt="...">
        <h2>Accessoires</h2>
      </div>
    </div>
    <!-- Categorie 3 -->
    <div class="col-lg-3 ">
      <div class="text-center">
        <img
          src="https://images.pexels.com/photos/1942880/pexels-photo-1942880.jpeg?cs=srgb&dl=pexels-godisable-jacob-1942880.jpg&fm=jpg"
          class="rounded-circle" width="250" height="250" alt="...">
        <h2>Sacs et Chaussures </h2>
      </div>
    </div>

    <!-- Categorie 4 -->
    <div class="col-lg-3 ">
      <div class="text-center">
        <img
          src="https://images.pexels.com/photos/1619488/pexels-photo-1619488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          class="rounded-circle" width="250" height="250" alt="...">
        <h2>Beauté</h2>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->
  <!-- featurette 1 -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading text-muted">Plein Feux Sur <span class="text-dark ">Les Nouveaux Sacs Phares!</span>
      </h2>
      <p class="lead">Adoptez les sacs incontournables de la saison : en forme de lune, ou de baguette, en crochet ou
        encore à chaîne.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="https://mosaic03.ztat.net/vgs/media/cropbyfocalarea/0/0/2079/999/693/spp-media-p1/4e9eed403019488fb70111ccd9cc4478/413516b7a8f54772976341026044fc0d.jpg?imwidth=693"
        class="rounded" width=100% height=auto alt="...">
      <title>Placeholder</title>


    </div>
  </div>
  <!-- featurette 2 -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Edition Bien-Etre <span class="text-muted">Tenues Détente & Produits de
          Beauté</span></h2>
      <p class="lead">Essentiels éco-responsables, soins de la peau haut de gamme et tenues détentes de luxe .</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://images.pexels.com/photos/2925744/pexels-photo-2925744.jpeg?cs=srgb&dl=pexels-apostolos-vamvouras-2925744.jpg&fm=jpg"
        class="rounded" width=100% height=auto alt="...">
      <title>Placeholder</title>





    </div>
  </div>
  <!-- featurette 3 -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Encore Plus de Mode <span class="text-muted">Bff Dressing</span></h2>
      <p class="lead">Livraison Express gratuite, accès exclusif pour seulement 14,95 € par an .</p>
      <p routerLink="login" class="text-link text-dark text-center">Essayez Gratuitement➝</p>
    </div>
    <div class="col-md-5">
      <img
        src="https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?cs=srgb&dl=pexels-konstantin-mishchenko-1926769.jpg&fm=jpg"
        class="rounded" width=100% height=auto alt="...">
      <title>Placeholder</title>


    </div>
  </div>


  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<!-- 
 FOOTER -->
<!-- <footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>

</footer> -->