<!-- <p> Add new products </p>

 ///// Add formulaire  -->

<!-- <a href="/products" > products </a>
<p class="message">{{message}}</p>

  <form (ngSubmit)="onSubmit(addproductsForm)" #addproductsForm="ngForm" class="form">
    <div class="form-group">
      <label for="nom"> Nom </label>
      <input ngModel name="nom" type="text" class="form-control" id="nom" placeholder="Enter nom">
    </div>

    <div class="form-group">
      <label for="descprition"> descprition </label>
      <input ngModel name="descprition" type="text" class="form-control" id="descprition" placeholder="descprition">
    </div>

    <div class="form-group">
      <label for="categorie"> categorie </label>
      <input ngModel name="categorie"  type="text" class="form-control" id="categorie" placeholder="categorie">
    </div>
    
    <div class="form-group">
      <label for="id"> id </label>
      <input ngModel name="id" type="id" class="form-control" id="id" placeholder="id">
    </div>

    <div class="form-group">
        <label for="taille"> taille </label>
        <input ngModel name="taille" type="text" class="form-control" id="taille" placeholder="taille">
      </div>

      <div class="form-group">
        <label for="nbrstock"> nbrstock </label>
        <input ngModel name="nbrstock" type="text" class="form-control" id="taille" placeholder="nbrstock">
      </div>

      <div class="form-group">
        <label for="prix"> prix </label>
        <input ngModel name="prix" type="text" class="form-control" id="prix" placeholder="prix">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

   -->

  <!-- //// Update formulaire  -->

 -->
